* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f7fb;
    color: #222;
    line-height: 1.6;
}

/* HERO */
.hero {
    /* background: linear-gradient(135deg, #1e3c72, #2a5298); */
    /* background: linear-gradient(to right,#cc2b5e,#753a88); */
    background: linear-gradient(to right,#1D2B64,#F8CDDA);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.profile-pic {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 2rem;
}

.links {
    margin-top: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.3s;
}

.links a:hover {
    background: white;
    color: #2a5298;
}

/* SECTIONS */
.section {
    padding: 40px 10%;
}

.section h2 {
    margin-bottom: 15px;
    color: #1e3c72;
}

.bg {
    background: white;
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background: #e3e8f0;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* PROJECTS */
.project {
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1e3c72;
    color: white;
    font-size: 0.9rem;
}
